.card-title {
  font-weight: 500 !important;
  font-size: 2rem !important;
}

.img-w {
  width: 80% !important;
  margin: 0 auto !important;
}

.card {
  transition: 0.3s ease-in all !important;
}

.card:hover {
  background-color: #3c6494 !important;
  cursor: pointer;
}
