/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Dosis", sans-serif !important;
  font-size: 1.6rem !important;
  background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
  background-attachment: fixed;
}

a:hover {
  text-decoration: none !important;
}
